.mainbody{
    height: 700px;
    width: 100%;
    background-color:#993399;
    margin: -8px;
}
.header{
    height: 80px;
    width: 100%;
    background-color: black;
}
.header-logo{
    height:50px ;
    width: 160pxpx;
    margin-left: 200px;
    margin-top: 15px;
    float: left;
}
.options{
    float: right;
    margin-right: 40px;
    color: #fff;
    margin-top: 30px ;
}
.options1{
    float: right;
    margin-right: 200px;
    color: #fff;
    margin-top: 30px ;
}
.image1{
    float: right;
    margin-top: 120px;
    margin-right:200px;
    height:400px ;
    width:400px ;
}
.t1{
    margin-top:115px ;
    margin-left: 200px;
    color: #fff;
}
.t2{
    margin-left: 200px;
    color: #fff;

}
.t3{
    margin-left: 200px;
    color: #fff;
    
}
.b1{
    height: 40px;
    width: 200px;
    margin-left: 200px;
    border-radius: 20px;
    background-color: black;
    color: #fff;
}
.t4{
    margin-left: 200px;
    color: #fff;

}
/* blue body  started */
.bluebody{
    height: 580px;
    width: 100%;
    background-color:  rgb(41, 65, 171);; 
    float: left;
    margin: -8px; 
}
.bt-img{
    float: right;
    height: 400px;
    width: 400px;
    margin-top:90px;
    margin-right: 200px;
}
.bt1{
    margin-top: 100px;
    margin-left: 200px;
    color: #1ed760;
}
.bt2{
    margin-left: 200px;
    color: #1ed760;
}
.bt3{
    margin-left: 200px;
    color: #1ed760;
}
.button2{
    height: 40px;
    width: 200px;
    margin-left: 200px;
    border-radius: 20px;
    background-color:  #1ed760;
    color:  rgb(41, 65, 171);
    border:#1ed760 ;
}
/* blackboody started */
.blackbody{
    height: 500px;
    width: 100%;
    background-color: black ;
    float: left;
    margin: -8px; 
}
.b-image{
    height: 50px;
    width: 180px;
    margin-left: 200px;
    margin-top: 100px;
    float: left;
}

.list1{
    height: 150px;
    width: 200px;
    background-color: black;
    float: left;
    margin-top: 110px;
    margin-left: 20px;
}

.list2{
    height: 150px;
    width: 200px;
    background-color: black;
    float: left;
    margin-top: 110px;
    margin-left: 20px;
}
.list3{
    height: 150px;
    width: 200px;
    background-color: black;
    float: left;
    margin-top: 110px;
    margin-left: 20px;
}
.font{
    
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
}
.s-logo1{
    float: left;
    height: 40px;
    width: 40px;
    margin-top:110px ;
    margin-left: 150px;
}          
.s-logo{
        float: left;
        height: 40px;
        width: 40px;
        margin-top:110px ;
        margin-left: 20px;
}          
/* footer */
.ftr{
    height: 80px;
    width: 100%;
    background-color: black;
    float: left;
    margin-top: 115px;
}
.ftr-first{
    float: left;
    margin-right: 40px;
    color: #fff;
    margin-top: 30px ;
    margin-left: 200px;


}
.ftr1{
        float: left;
        margin-right: 40px;
        color: #fff;
        margin-top: 30px ;
}
.ftr-last{
    float: left;
    margin-right: 40px;
    color: #fff;
    margin-top: 30px ;
    margin-left: 440px;

}





